{% macro displaySourceList(source_list) %}

	{% for source_row in source_list |batch(4)%}
        <div class="row">
        	
	        	
            {% for sources in source_row %}
	            <div class="col-md-3" style="margin-bottom: 5px">
		           
		            <div class="card mdb-color lighten-3 ">
						<div class="card-header">
							<a href="/sources/{{sources.id}}">
							    {{ sources.name}}
					        </a>
						</div>
						<div class="card-body">
							<p class="text-truncate">
								{{ sources.description}}

							</p>
							<a href="/sources/{{sources.id}}" class="btn btn-success btn-sm">Visit {{sources.name}}</a>
						</div>
						
		
					</div>
		        </div>
            {% endfor %}
	        	
        </div>
    {% endfor %}

{% endmacro %}

